<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home" color="primary" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <div *ngIf="game">
      <ion-title color="primary">{{game.name}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="game">
  <div>
    <ion-card color="primary">
      <ion-card-content class="ion-text-center">
        <img src="{{game.background_image}}" alt="">
        <ion-card-title>{{game.name}}</ion-card-title>
        <ion-card-subtitle>{{game.rating}} / 5</ion-card-subtitle>
        <div>   
           <ion-button fill="solid" shape="round" size="medium" (click)="storeVideogame('wantToPlay')" [color]="game.optionColorWantToPlay">
         Want To Play
        </ion-button>
        <ion-button fill="solid" shape="round" size="medium" (click)="storeVideogame('playing')"  [color]="game.optionColorPlaying" >
          Playing
        </ion-button>
        <ion-button fill="solid" shape="round" size="medium" (click)="storeVideogame('played')" [color]="game.optionColorPlayed" >
          Played
        </ion-button></div>
      </ion-card-content>
    </ion-card>
  </div>
  
  <ion-slides #slides (ionSlideDidChange)="slideChanged()"  pager="false">
    <ion-slide >
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-card-title>Description</ion-card-title>
          <div innerHTML="{{game.description}}"></div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="ion-text-center">
        <ion-card-title>Information</ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div><p>Release date</p></div>
            <div><p style="font-size:14px;">{{game.released}}.</p></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div><p>Genres</p></div>
            <div *ngFor="let genre of game.genres">
            <div><ion-button color="primary" size="small" shape="round" disabled="true">{{genre.name}} </ion-button></div>
            </div>
          </ion-col>
          <ion-col>
            <div><p>Platforms</p></div>
            <div *ngFor="let pf of game.parent_platforms">
              
                <div ><ion-button  size="small" shape="round" disabled="true">{{pf.platform.name}}</ion-button></div>
            </div>

          </ion-col>
          <ion-col>
            <div><p>Publishers</p></div>
            <div *ngFor="let pub of game.publishers">
            <div><ion-button size="small" shape="round" disabled="true">{{pub.name}} </ion-button></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    </ion-slide>
    <ion-slide>

      <ion-grid>
        <ion-row>
          <ion-col *ngIf="screen?.length" >
         <div>
           <img *ngFor="let sc of screen" class="myImg" src="{{sc.image}}" >
          
           </div>
           </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar >
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" color="dark">
      <ion-segment-button value="0">
        <ion-label color="primary">Description</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label color="primary">Information</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" color="primary" *ngIf="screen?.length"> 
        <ion-label color="primary">Screenshots</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
