<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Theme</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary">Dark theme</ion-label>
    <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
  </ion-item>

</ion-content>
