.list-header {
    padding-top: 50px;
    font-size: 18px;
}

.button-container {
    width: 100%;
    padding: 5px;
}

.button-list {
    width: 70%;
}

.title {
    font-size: 25px;
}

.button-icon {
    width: 8%;
    left: 0;
}

.button-text {
    width: 92%;
    right: 0;
}

.image-container{
    width: 100%;
    height: 120px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    img{
        display: inline-block;
        vertical-align: middle;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border: 3px solid var(--ion-color-primary);
    }

    .helper{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}