<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <div class="image-container">
        <span class="helper"></span>
        <img src="{{profileimage}}">
      </div>
      <ion-card-title color="primary" class="title">{{username}}</ion-card-title>
      <p class="list-header">My lists</p>
      <div class="button-container">
        <ion-button class="button-list" (click)="goWantToPlay()">
          <div class="button-icon">
            <ion-icon slot="start" name="locate-outline"></ion-icon>
          </div>
          <div class="button-text">
            <p>Want to play</p>
          </div>
        </ion-button>
      </div>
      <div class="button-container">
        <ion-button class="button-list" (click)="goPlaying()">
          <div class="button-icon">
            <ion-icon slot="start" name="game-controller-outline"></ion-icon>
          </div>
          <div class="button-text">
            <p>Currently playing</p>
          </div>
        </ion-button>
      </div>
      <div class="button-container">
        <ion-button class="button-list" (click)="goPlayed()">
          <div class="button-icon">
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          </div>
          <div class="button-text">
            <p>Played</p>
          </div>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
