<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Top games</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

      <div>  
      <ion-card   color="primary"   *ngFor="let game of games" >
        <ion-card-content class="ion-text-center" (click)="openGameDetails(game.id)">
        <img *ngIf="game.background_image" src="{{game.background_image}}" class="itemImage" >
        <img *ngIf="!game.background_image" src="./assets/noimage.jpg" class="itemImage" >
        <ion-card-title>{{game.name}}</ion-card-title>
        <ion-card-subtitle>{{game.rating}} / 5</ion-card-subtitle>
    </ion-card-content>
    </ion-card> </div>
   


  

</ion-content>
