<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Playing</ion-title>
    <ion-buttons color="primary" slot="start">
      <ion-menu-button menu="main-menu" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let game of videogamesList" class="listItem"> 
      <ion-item-options side="end">
        <ion-item-option (click)="removeVideogame(game.videogame.name)" color="light" >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          <!--<p class="iconText" color="primary">Remove</p>-->
        </ion-item-option >
      </ion-item-options>
      <ion-item color="primary" (click)="openGameDetails(game.videogame.id)">
      <ion-thumbnail slot="start"  class="itemThumbail" (click)="openGameDetails(game.videogame.id)">
        <img *ngIf="game.videogame.background_image" src="{{game.videogame.background_image}}" class="itemImage" >
        <img *ngIf="!game.videogame.background_image" src="./assets/noimage.jpg" class="itemImage" >
      </ion-thumbnail>
      <ion-label >
        <p class="itemLabelText">{{game.videogame.name}}</p>
        <p class="itemLabelText" >({{game.videogame.released}})</p>
        <p class="itemLabelText" *ngIf="game.videogame.rating>0" >{{game.videogame.rating}}  </p>
        <p class="itemLabelText" *ngIf="1>game.videogame.rating" >---</p>
       <span class="itemLabelText" *ngFor="let pf of game.videogame.parent_platforms;let last=last"  >{{pf.platform.name}} <span *ngIf="!last">-
       </span></span>
      </ion-label>
    </ion-item>
   </ion-item-sliding>

  </ion-list>

</ion-content>
