<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  
  <form class="ion-padding">
    <div class="wrap-input">
      <input class="input" type="text" placeholder="Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="wrap-input">
      <input class="input" type="password" required="true" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="container-form-button">
      <button class="form-button" (click)="login()" >
        Login
      </button>
    </div>
    
    <div class="container-skip-button">
      <button class="skip-button" (click)="goHome()">
        Skip login
      </button>
    </div>
  </form>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <a (click)="goForgetPassword()" class="ion-text-center forget-password">Forgot your password?</a>
    <p class="ion-text-center">Still don't have an account? <a (click)="goRegister()">Register</a></p>
  </ion-toolbar>
</ion-footer>
