ion-toolbar{
    --background: transparent;

    ion-title{
        padding: 0 0 20px 0;
        font-weight: 900;
        color: var(--ion-color-primary);
    }

    .menu-circle{
        z-index: -1;
        width: 100%;
        height: 200px;
        background: var(--ion-color-secondary);
        position: absolute;
        border-radius: 0 0 40% 40%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .image-container{
        width: 100%;
        height: 100px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

        img{
            display: inline-block;
            height: 70px;
            width: 70px;
            vertical-align: middle;
            border-radius: 50%;
            border: 3px solid var(--ion-color-primary);
        }

        .helper{
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
    }
}