<ion-app>
  <ion-menu (ionWillOpen)="openSideMenu()" menuId="main-menu" contentId="main">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <!--<div class="menu-circle"></div>-->
        <div class="image-container">
          <span class="helper"></span>
          <img src="{{profileimage}}">
        </div>
        <ion-title  color="primary" class="ion-text-center">{{ isAuthenticated? username : 'Log in' }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="profile">
            <ion-icon color="primary" name="person-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="home">
            <ion-icon  color="primary" name="home-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="want-to-play">
            <ion-icon  color="primary" name="locate-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Want to play</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="currently-playing">
            <ion-icon  color="primary" name="game-controller-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Currently playing</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="played">
            <ion-icon  color="primary" name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Played</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="top-games">
            <ion-icon  color="primary" name="trophy-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Top games</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="settings">
            <ion-icon  color="primary" name="settings-outline" slot="start"></ion-icon>
            <ion-label  color="primary">Themes</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="logout()" *ngIf="isAuthenticated">
            <ion-icon  color="primary" name="log-out-outline" slot="start"></ion-icon>
            <ion-label color="primary" >Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
