<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="primary">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  
  <form class="ion-padding">
    <div class="wrap-input">
      <input class="input" type="email" placeholder="Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="wrap-input">
      <input class="input" type="text" placeholder="Username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="wrap-input">
      <input class="input" type="password" required="true" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="container-form-button">
      <button class="form-button" (click)="register()" color="primary">
        Register
      </button>
    </div>
  </form>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center">Already have an account? <a (click)="goLogin()">Sign In</a></p>
  </ion-toolbar>
</ion-footer>
