<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!toggled" color="primary">Home</ion-title>
    <ion-title *ngIf="toggled"color="primary">Search</ion-title>
    <ion-buttons slot="start" >
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons>


  </ion-toolbar>

</ion-header>

<ion-content scrollEvents="true" [appHideHeader]="header">

  <ion-toolbar #header class="headerButtons">
    <div class="filterButtons">
      <ion-searchbar *ngIf="toggled" animated (search)="searchGames('-metacritic',$event.target.value)" (ionCancel)="toggleSearch()" color="secondary"></ion-searchbar>
      <ion-button *ngIf="!toggled" color="primary"  (click)="genreSearch()">
        Genre
      </ion-button>
      <ion-button *ngIf="!toggled" color="primary" (click)="platformSearch()">
        Platform
      </ion-button>
      <ion-button *ngIf="!toggled" color="primary" (click)="orderBy()">
        Order By
      </ion-button>
      <ion-icon color="secondary" name="arrow-up" slot="end" (click)="scrollTop()" class="arrow-up"></ion-icon>
    </div>
  </ion-toolbar>
  
  
  <ion-list>

    <ion-item-sliding *ngFor="let game of games" class="listItem" (ionDrag)="getVideogamesFromLists()"> 
      <ion-item-options side="end">
        <ion-item-option (click)="storeVideogame(game.id,'wantToPlay')" [color]="game.optionColorWantToPlay">
          <ion-icon slot="icon-only" name="locate-outline"></ion-icon>
        </ion-item-option >
        <ion-item-option (click)="storeVideogame(game.id,'playing')" [color]="game.optionColorPlaying">
          <ion-icon slot="icon-only" name="game-controller-outline"></ion-icon>
        </ion-item-option >
        <ion-item-option  (click)="storeVideogame(game.id,'played')" [color]="game.optionColorPlayed">
          <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
        </ion-item-option >
      </ion-item-options>
      <ion-item color="primary" (click)="openGameDetails(game.id)">
      <ion-thumbnail slot="start"  class="itemThumbail" (click)="openGameDetails(game.id)">
        <img *ngIf="game.background_image" src="{{game.background_image}}" class="itemImage" >
        <img *ngIf="!game.background_image" src="./assets/noimage.jpg" class="itemImage" >
      </ion-thumbnail>
      <ion-label >
        <p class="itemLabelText">{{game.name}}</p>
        <p class="itemLabelText" >({{game.released}})</p>
        <p class="itemLabelText" *ngIf="game.rating>0" >{{game.rating}}  </p>
        <p class="itemLabelText" *ngIf="1>game.rating" >---</p>
       <span class="itemLabelText" *ngFor="let pf of game.parent_platforms;let last=last"  >{{pf.platform.name}} <span *ngIf="!last">-
       </span></span>
      </ion-label>
    </ion-item>
   </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button class="fabButton" color="secondary">
      <ion-icon *ngIf="!toggled" (click)="toggleSearch()" name="search-outline"></ion-icon>
      <ion-icon *ngIf="toggled" (click)="toggleSearch()" name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
