.listItem{
    margin: 10px;
     border-radius: 12px 12px 12px 12px;
 }
 
 .headerButtons{
     position: sticky;
 }
 
 .arrow-up{
     border-radius: 38px 38px 38px 38px;
     margin:4px;
     padding: 4px;
     background-color: var(--ion-color-primary);
     
 }
 
 .itemThumbail{
     height: 80px;
     width: 120px;
     margin: 8px; 
 }
 
 .itemImage{
     object-fit:fill; 
 }
 
 .itemLabelText{
     vertical-align: text-top;
     font-size: 15px;
     font-weight: bolder;
 }
 
 
 ion-icon {
     display: inline-block;
     font-size: 30px;
     vertical-align: middle;
   }
 
 .iconText{
     font-size: 12px;
     font-weight: bolder;
     display: inline-block;
     vertical-align: middle;
 }
  
 
 .filterButtons{
   
     padding: 12px;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     position: sticky;
     top:0px;
     z-index: 1;
     background-color: var(--ion-color-light);
 
     
 }
 