ion-content {
    --background: rgba(#f0f0f0, 0.5);
}

ion-toolbar {
    --background: transparent;
    position: relative;
}

form {
    margin-top: 100px;
}

p {
    padding: 40px 0 20px 0;
    font-weight: 700;
}

ion-title {
    padding: 30px 0 40px 0;
    font-size: 25px;
    font-weight: 900;
    color: var(--ion-color-primary);
}

.wrap-input{
    background-color: rgba($color: #999999, $alpha: 0.8);    
    border-radius: 20px;
    margin: 0 10% 25px 10%;
    box-shadow: 0 5px 20px 0px rgba(57, 71, 82, 0.2);
}

.input{
    display: block;
    width: 100%;
    background: transparent;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    height: 45px;
    padding: 0 10% 0 10%;
}

::placeholder {
    color: black
}

.container-form-button{
    display: flex;
    justify-content: center;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 160px;
    height: 42px;
    background-color: var(--ion-color-primary);
    border-radius: 20px;
    color: var(--ion-color-secondary);
    font-size: 14px;
    padding-top: 5px;
    box-shadow: 0 10px 20px 0px rgba(57, 71, 82, 0.5);
}

.form-button:active {
    background-color: var(--ion-color-tertiary);
    box-shadow: 0 10px 20px 0px rgba(57, 71, 82, 0.2);
}

.back-button {
    position: absolute;
    left: 0;
    top: 10px;
}