<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="back-button">
      <ion-back-button text="" defaultHref="login" color="primary" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <form class="ion-padding">
    <div class="wrap-input">
      <input class="input" type="text" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="container-form-button">
      <button class="form-button" (click)="resetPassword()">
        Submit
      </button>
    </div>
  </form>

</ion-content>
